.container {
  border: 1px solid black;
  max-width: 700px;
  margin: auto;
  margin-top: 38px;
  padding: 10px;
}

.no-border-container {
  max-width: 700px;
  margin: auto;
}

.text-box {
  /*use max length to specify character maxium*/
}

.right {
  float: right;
}

.left {
  float: left;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.red {
  color: red;
}
a {
  text-decoration: none;
}
a.bold {
  font-weight: bold;
}

.layout-header li {
  padding: 10px;
  }

.layout-header {
  width: 200px;

}

.left {
  float: left;
}

.padded {
  padding-right: 16px;
}

/*****************layout*****************/
header.horizontal {
  width: 100%;
  height: 50px;
  background-color: tan;
}

header.horizontal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header.horizontal ul li {
  display: inline-block;
}



nav {
  padding: 20px 0;
}

/*************** profile page ***************/

.tweet_date {
float: right;
  /*margin-left: 5em;*/
}
/*************** search bar ***************/

#search_bar {
padding: 18px;
}
