<div class="container">
  <p>Add your image url:</p>
<form action="/update_image" method="POST">

  <input type="text" name="user[url]" placeholder="image">
    <input type="submit" />
</form>
</div>
