<div class="container">
  <header>
    <h1>welcome, <%= @user.username %>!</h1>
  </header>

  <form action="/user" method="post">
    <%# if @tweet %>
    <textarea class="tweet-box" rows="4" cols="50" name="content" placeholder="What are you thinking?"></textarea>
    <%# raise error messages %>
    <%# end %>
    <input type="submit" value="tweet"/>
  </form>
</div>

<% @tweets.each do |tweet| %>
  <div class="container group">
    <p class="left"><b><%= @user.username %>:</b> <%= tweet.content %></p>
    <form action="/delete/tweet" method="post" class="right"/>
      <input type="hidden" name="_method" value="delete"/>
      <input type="hidden" name="tweet" value="<%= tweet.id %>"/>
      <input type="submit" value="delete"/>
    </form>
  </div>
<% end %>


