<div class="container">
  <h1>Welcome to Duck Duck Goose<h1>
    <h3> Log in or Sign up if you're a new user</h3>

  <h3>Login: </h3>
  <form action="/user/login" method="POST">
    <input value="text" name="username" placeholder="Email">
    <input value="text" name="password_hash" placeholder="Password">
    <input value="submit">
  </form>

  <h3>Register: </h3>
  <form action="/user/login" method="POST">
    <input value="text" name="user[username]" placeholder="Email">
    <input value="text" name="user[password_hash]" placeholder="Password">
    <input value="submit">
  </form>

</div>
