<div class="container">
  <h1>Welcome to Duck Duck Goose<h1>
    <h3> Log in or sign up if you're a new user</h3>

  <h3>Login: </h3>
  <form action="/user/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="submit">
  </form>

  <h3>Register: </h3>
  <form action="/user/login" method="POST">
    <input type="text" name="user[username]" placeholder="Email">
    <input type="text" name="user[password]" placeholder="Password">
    <input type="submit">
  </form>

</div>
